/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*reset css*/
.container-fluid{
	width: 100%;
	padding: 0 16px;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
.container-lg{
	width: 1400px;
	margin: 0 auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
.row>[class*="col-"]{
	padding: 12px;	
}
.j1{
	justify-content: center;
}
.j2{
	justify-content: flex-end;
}
.j3{
	justify-content: flex-start;
}
.j4{
	justify-content: space-between;
}
.j5{
	justify-content: space-around;
}
.c1{
	align-items: center;
}
.col-1{
	width: 8.33%;
}
.col-2{
	width: 16.66%;
}
.col-3{
	width: 25%;
}
.col-4{
	width: 33.33%;
}
.col-5{
	width: 41.66%;
}
.col-6{
	width: 50%;
}
.col-7{
	width: 58.33%;
}
.col-8{
	width: 66.66%;
}
.col-9{
	width: 75%;
}
.col-10{
	width: 83.33%;
}
.col-11{
	width: 91.66%;
}
.col-12{
	width: 100%;
}
